Repository 1024pix/pix-db-replication, pull requests merged in 2021-02, with the labels that each got.

#82 [TECH] Ajout de données supplémentaires provenant du référentiel pour exploitation contenus
  src/airtable-data.js
Labels: :speech_balloon: Tech Review Needed

#80 [TECH] Notifier les développeurs des erreurs d'exécution
  README.md
  dump.pgsql
  package-lock.json
  package.json
  sample.env
  src/extract-configuration-from-environment.js
  src/replication_job.js
  src/run-replicate-incrementally.js
  src/run.js
  src/schedule-incremental-replication.js
  src/sentry-init.js
  src/steps.js
Labels: :rocket: Ready to Merge, cross-team

#83 :zap: Ajout de l'automerge
  .github/workflows/auto-merge.yml
Labels: :rocket: Ready to Merge

#84 Remove trace
  .github/workflows/auto-merge.yml
Labels: :rocket: Ready to Merge
